.VFR {
    background-color: rgb(113, 255, 47);
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.MVFR {
    background-color: blue;
    color: white;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.IFR {
    background-color: red;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.LIFR {
    background-color: magenta;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.UNK {
    background-color: rgb(170, 170, 170);
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

#text-in {
    text-align: center;
}

@media only screen and (max-width: 950px) {
    #main-div {
        display: block;
    }

    #search-block {
        margin: auto;
    }

    #result-box {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    #flt-cond {
        text-align: center;
        margin: auto;
    }

    #history-sect {
        display: none;
    }

    #forecast-hdng {
        text-align: center;
    }

    #forecast-boxes {
        font-size: 14px;
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        padding: auto;
    }

    .forecast-box {
        margin: auto;
        width: 90%;
        height: 200px;
        margin-bottom: 5%;
    }
}

/* @media (prefers-color-scheme: dark) {
    
    :root {
        background-color: rgb(42, 42, 42);
    }

    h1 {
        color: black;
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }

    .
} */