.VFR {
    background-color: rgb(113, 255, 47);
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.MVFR {
    background-color: blue;
    color: white;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.IFR {
    background-color: red;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.LIFR {
    background-color: magenta;
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.UNK {
    background-color: rgb(170, 170, 170);
    width: fit-content;
    padding: 0px 5px 0px 1px;
    border-radius: 4px;
}

.forecast-box {
    border-radius: 5%;
}

#text-in {
    text-align: center;
    text-transform: uppercase;
}

#history button {
    background-color: rgb(170, 170, 170);
    color: black;
    transition: ease-out 0.3s;
}

#history button:hover {
    background-color: gray;
}

header {
    background: rgb(59,125,242);
    background: linear-gradient(90deg, rgba(59,125,242,1) 0%, rgba(80,0,107,1) 100%);
}

@media only screen and (max-width: 950px) {
    #main-div {
        display: block;
    }

    #search-block {
        margin: auto;
        margin-bottom: 1em;
    }

    #result-box {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    #flt-cond {
        text-align: center;
        margin: auto;
    }

    #history-sect {
        display: none;
    }

    #forecast-hdng {
        text-align: center;
    }

    #forecast-boxes {
        font-size: 14px;
        display: grid;
        grid-template-columns: auto auto;
        margin: auto;
        padding: auto;
    }

    .forecast-box {
        margin: auto;
        width: 90%;
        height: 200px;
        margin-bottom: 5%;
    }
}

@media (prefers-color-scheme: dark) {
    
    :root {
        background-color: rgb(19, 18, 18);
        --border: rgb(91, 151, 255);
        --border: rgb(37, 33, 33);
        --secondaryBg: rgb(37, 33, 33);
        --tertiaryBg: rgb(46, 44, 44);
        --tertiaryHover: rgb(65, 61, 61);
        --btnColor: rgb(143, 255, 143);
        --btnHover: rgb(91, 151, 255);
    }

    h1 {
        color: white;
    }

    h2 {
        color: white;
    }

    h3 {
        color: white;
    }

    li {
        color: white;
    }

    header {
        background: var(--secondaryBg);
        border-bottom-width: 0px;
        border-style: solid;
        border-color: var(--border);
    }

    .forecast-box {
        background-color: var(--tertiaryBg);
    }

    /* *Box Outlines */

    #search-block {
        background: var(--secondaryBg);
        border-width: 3px;
        border-style: solid;
        border-color: var(--border);
        border-radius: 0.5em;
    }

    #result-box {
        background: var(--secondaryBg);
        border-width: 3px;
        border-style: solid;
        border-color: var(--border);
        border-radius: 0.5em;
    }

    #history-sect {
        background: var(--secondaryBg);
        border-width: 3px;
        border-style: solid;
        border-color: var(--border);
        border-radius: 0.5em;
    }

    #forecast-section {
        background: var(--secondaryBg);
        border-width: 3px;
        border-style: solid;
        border-color: var(--border);
        border-radius: 0.5em;
    }

    /* *History Sect */

    #history button {
        color: white;
        background-color: var(--tertiaryBg);
    }
    
    #history button:hover {
        background-color: var(--tertiaryHover);
    }

    /** Search Sect */

    #text-in {
        background-color: var(--tertiaryBg);
        color: white;
        border-color: rgb(91, 151, 255);
        transition: ease-out 0.2s;
    }

    #text-in:focus {
        outline: none;
        background-color: var(--tertiaryHover);
    }

    #text-in:-webkit-autofill {
        -webkit-box-shadow:0 0 0 50px var(--tertiaryHover) inset;
        -webkit-text-fill-color: white;
    }

    #text-in:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px var(--tertiaryHover) inset;
        -webkit-text-fill-color: white;
    } 

    #search-btn {
        background-color: var(--btnColor);
        color: black;
        transition: ease-out 0.3s;
    }

    #search-btn:hover {
        background-color: var(--btnHover);
    }


    .VFR, .IFR, .LIFR, .MVFR {
        color: black;
        font-weight: bold;
    }

    .VFR {
        background-color: rgb(113, 255, 120);
    }

    .IFR {
        background-color: rgb(255, 94, 94);
    }

    .LIFR {
        background-color: rgb(237, 98, 255);
    }

    .MVFR {
        background-color: rgb(129, 115, 255);
    }
}